

@media screen and (max-width: 376px) {
  .svg {
    width: 70vw;
    height: 200px;
    margin: 0;

  }

  .section {

  }

  .start {
    display:flex;

  flex-direction: column;
  justify-content: center;


    width: 100vw;

  }
  img#fish{
    width: 20vw;
    height: 10vh;
  }

p#textone {
  margin: 0 auto 20% auto;
width: 70vW;
height: 200px;
text-align: center;
}

.bakgrund.one {
  align-content: center;
  justify-content: space-around;
}



img#puddle {
  width: 300px;
}

.bakgrund.two {
  flex-direction: column-reverse;
  justify-content: space-around;
  align-content: center;
}

img.mess {
  height: 35vh;
  width: 70vw;
}
p#texttwo {
  width: 70vw;
  height: 35vh;
  margin: auto auto 20% auto;
}
.bakgrund.three {
flex-direction: column;
z-index: 1;
}
p#textthree {

  width: 70vw;
  height: 35vh;
}

.bakgrund.four {
align-items: center;
flex-direction: column-reverse;
justify-content: space-around;
height: 100vh;
}

p#textfour {
  width: 70vw;
  height: 35vh;
  margin-top: 10px;
}

img#skåp {
  margin-right: 0;
margin-top: 20px;
  height: 70vh;
}

.bakgrund.five {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img#stairs {

  height: 80vh;
  width: 80vw;
}

.bakgrund.six {

  flex-direction: column-reverse;
}

p#textsix {
  width: 80vw;
}

.bakgrund.seven {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

p#textseven {
  position: absolute;
  bottom: 30px;
  left: 10%;

}

.bakgrund.eight {
  flex-direction: column-reverse;
  justify-content: space-around;
  align-content: center;
}

img.bags_attic {
height: 300px;
width: 300px;
align-self: center;
margin:10% auto 10% auto;
}

p.texteight {
  width: 80vw;
  height: 200px;
}

.bakgrund.nine {
  justify-content: space-around;
  flex-direction: column-reverse;
}

img#rathole {
  width: 80vw;
  height: 50vh;
  margin: 10% auto 10% auto;
}

.bakgrund.ten {

  flex-direction: column-reverse;
}

.bakgrund.eleven {
  flex-direction: column;
}

.bakgrund.twelve {
  align-items: center;
  display: flex;
  flex-direction: column;
}
img#flippedvase {
  width: 200px;
  height: 200px;
  align-self: center;
}
}




body {
  margin: 0px;
  font-size: 16px;
}

p {
  font-size: 120%;
  font-family: 'Vollkorn', serif;
}




.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}


svg {
  margin-left: 20px;
  margin-right: 20px;
  width: 575px;
  height:317px;
  fill: none;
  stroke: #0f0f0f;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  animation: dash 5s linear forwards;
}

svg path {
  fill: #d08989;
  animation: fill forwards;
  animation-duration: 2s;
  animation-delay: 2s;
}


@keyframes fill {
  from {

  }
  to {
    fill: white;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.bakgrund {
  height: 100vh;
  width: 100vw;


}

  .start {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  background-color: #d08989;
}

.one {

  background-color: rgb(172, 140, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

#textone {
  margin-left: 10%;

  width: 40vw;

}

#puddle {
width:50%;


}

.two {
  background-color: rgb(219, 212, 206);
  display: flex;
  justify-content: space-between;
  align-items:center;
}

#texttwo {
margin-left: 5%;
width: 30vw;
  font-family: 'Dyslexie Regular';
}

.mess {
  height: 500px;
  width: 700px;
  margin:auto 5% auto 5%;


  animation-delay: 0.5s;


}

.three {
  background: linear-gradient(135deg, #d8dee3 22px, #f9f9f9 22px, #f9f9f9 24px, transparent 24px, transparent 67px, #f9f9f9 67px, #f9f9f9 69px, transparent 69px), linear-gradient(225deg, #d8dee3 22px, #f9f9f9 22px, #f9f9f9 24px, transparent 24px, transparent 67px, #f9f9f9 67px, #f9f9f9 69px, transparent 69px)0 64px;
  background-color: #d8dee3;
  background-size: 64px 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#textthree {

  height: 200px;
  width: 300px;

}

#fish {
  height: 200px;
  transform: rotate(-90deg);
  position: absolute;
  top: 50px;
  z-index: 0;
  animation: kitchenware1 10s ease alternate infinite;
}

#kitchenware1 {
  height: 100px;
  width: 150px;
  animation: kitchenware1 10s ease-in-out alternate infinite;
  z-index: 0;
}

@keyframes kitchenware1 {
    from { transform: rotate(90deg) translateX(100px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}

#kitchenware2 {
  height: 150px;
  width: 150px;
  animation: kitchenware2 20s alternate ease-in-out infinite;
}

@keyframes kitchenware2 {
  from { transform: rotate(20deg) translateX(300px) rotate(360deg); }

  to   {transform: rotate(360deg) translateY(250px) rotate(-360deg); }

  }

.four {
  background-color: #eee;
background-image: linear-gradient(45deg, LightCyan 25%, transparent 25%, transparent 75%, LightCyan 75%, LightCyan),
linear-gradient(-45deg, LightCyan 25%, transparent 25%, transparent 75%, LightCyan 75%, LightCyan);
background-size:60px 60px;
  display: flex;
  justify-content: space-around;
}

#textfour {

  margin-top: 20%;
  margin-left: 10%;
  width: 40vw;
}

#skåp {
  align-self:center;
  height: 600px;
  width: 250px;
  margin-right: 10%;

}



.five {
display: flex;
justify-content:  space-around;
background-color: #e7e7e8;
align-items: center;
}

#textfive {
  margin: 0;
  height: 200px;
  width: 300px;
}

#stairs {
    height: 95vh;
    width: 50vw;

}

.six {
  background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255, 255, 255, 0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center

}

#textsix {
  width: 30vw;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

#goldfish {
  width: 300px ;
  height: 300px;
  margin-right:5%;

  /*animation-name: move;
          animation-duration: 2s;
          animation-direction: alternate;
          animation-iteration-count: 2;
          animation-timing-function: ease;

}


      #goldfish.animate {
        animation-name: move;
        animation-duration: 3s;
      }

      @keyframes move {
        0% {
          transform: translateY(0) translateX(0) rotate(0);
         }
        100% {
          transform: translateY(0) translateX(200px) rotate(180deg);
         }
}*/
}
.seven {
  display: flex;
  justify-content: space-around;

  align-items:center;
  background-color: pink;
  position: relative;

}

#textseven {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 100px;
}
#vase {
  height: 300px;
  width: 200px;
  transform: rotate(-120deg);
position: absolute;
top: 20px;
right: 100px;
}

.eight {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:flex-start;
  background-color: rgb(181, 169, 141);
}

.texteight {
  width: 40vw;
  margin-left: 10%;
  align-self:center;
}

.bags_attic {
  height: 70%;
  width: 60%;
  margin: 5% 5% auto 5%;
  }


.nine {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgb(217, 227, 219);
}

.textnine {
  width: 250px;
  height: 350px;
}

#rathole {
  height: 550px;
  width: 700px;

}

.ten {
background-color: orange;
display:flex;
justify-content: center;
align-items: center;
}

#textten{
  width: 300px;
  height: 200px;
}

#nyckelhal2 {
  width: 300px;
  height: 400px;
}


.eleven {
  background-color:grey;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}

#texteleven {

  height:200px;
  width: 300px;
}

#skåpbox {
  display: flex;
  justify-content: center;
  align-content: center;
}

#skåpvas {
z-index: 1;
height: 350px;
width: 350px;
}
.dörrtrigger {
  height: 350px;
  width: 350px;
  transition: .2s ease;

}

#dörrvas {
z-index: 2;
position: absolute;
  transform-origin: left;
transition: .5s ease-in-out;
}

.dörrvas.active  {
  transform: rotatey(180deg);
pointer-events: none;
}

.twelve {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.texttwelve {
  margin:20px;

}

#flippedvase {
  height: 300px;
  width: 400px;
}

#flower{
  height: 200px;
  width: 100px;
  transform: rotate(-120deg);
}
@keyframes float {
  0% {
    transform: translatex(50px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatex(50px);
  }
}

.nyckelhal {
  width: 150px;
  height: 200px;
  box-sizing: border-box;
  margin-left: 20px;
  animation: float 3s ease-in-out infinite;
}
