body {
  margin: 0px;
}

* {

}

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
  font-family: Arial;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

svg {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 575px;
  min-height:317px;

}

svg {
  fill: none;
  stroke: #0f0f0f;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 900;
  stroke-dashoffset: 900;
  animation: dash 5s linear forwards;
}

svg path {
  fill: #d08989;
  animation: fill forwards;
  animation-duration: 2s;
  animation-delay: 2s;
}


@keyframes fill {
  from {

  }
  to {
    fill: white;
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.bakgrund {
  height: 100vh;
  width: 100vw;


}

  .start {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56px;
  background-color: #d08989;
}

.one {

  background-color: rgb(172, 140, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

#textone {
  height:200px;
  width: 500px;
  font-size: 24px;
  margin-left: 50px;
}

#puddle {



}

.two {
  background-color: rgb(219, 212, 206);
  display: flex;
  justify-content: space-between;
  align-items:center;


}
#texttwo {
margin-left: 5%;
height: 200px;
width: 500px;
font-size: 24px;
}

.mess {
  height: 450px;
  width: 600px;
  margin-right: 5%;
  animation-delay: 0.5s;


}

.three {
  background: linear-gradient(135deg, #d8dee3 22px, #f9f9f9 22px, #f9f9f9 24px, transparent 24px, transparent 67px, #f9f9f9 67px, #f9f9f9 69px, transparent 69px), linear-gradient(225deg, #d8dee3 22px, #f9f9f9 22px, #f9f9f9 24px, transparent 24px, transparent 67px, #f9f9f9 67px, #f9f9f9 69px, transparent 69px)0 64px;
  background-color: #d8dee3;
  background-size: 64px 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#textthree {
  margin-left: 20px;;
  height: 200px;
  width: 300px;
  font-size: 24px;
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#fish {
  height: 200px;
  transform: rotate(-90deg);
  position: absolute;
  top: 50px;
  z-index: 0;
  animation: kitchenware1 10s ease alternate infinite;
}

#kitchenware1 {
  height: 100px;
  width: 150px;
  animation: kitchenware1 10s ease-in-out alternate infinite;
}

@keyframes kitchenware1 {
    from { transform: rotate(90deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

#kitchenware2 {
  height: 150px;
  width: 150px;
  animation: kitchenware2 20s alternate ease-in-out infinite;
}

@keyframes kitchenware2 {
  from { transform: rotate(20deg) translateX(300px) rotate(360deg); }

  to   {transform: rotate(360deg) translateY(300px) rotate(-360deg); }

  }

.four {
  background-color: #eee;
background-image: linear-gradient(45deg, LightCyan 25%, transparent 25%, transparent 75%, LightCyan 75%, LightCyan),
linear-gradient(-45deg, LightCyan 25%, transparent 25%, transparent 75%, LightCyan 75%, LightCyan);
background-size:60px 60px;
  display: flex;
  justify-content: space-around;
}

#textfour {
  display: flex;
  height: 200px;
  width: 300px;
  font-size: 24px;
  align-self: flex-start;
  margin: 20%;
}

#skåp {
  align-self:center;
  height: 600px;
  width: 250px;
  margin-right: 10%;

}



.five {
display: flex;
justify-content:  space-around;
background-color: #e7e7e8;
align-items: center;
}

#textfive {
  margin: 0;
  height: 200px;
  width: 300px;
  font-size: 24px;
}

#stairs {
    max-height: 95vh;
    max-width: 50vw;

}

.six {
  background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255, 255, 255, 0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center

}

#textsix {

  height: 200px;
  width: 300px;
  font-size: 24px;
  margin-left:20px;
  position: relative;

}

#goldfish {
width: 300px ;
height: 300px;


  margin-right: 10%;

  animation-name: move;
          animation-duration: 2s;
          animation-direction: alternate;
          animation-iteration-count: 2;
          animation-timing-function: ease;

}


      #goldfish.animate {
        animation-name: move;
        animation-duration: 3s;
      }

      @keyframes move {
        0% {
          transform: translateY(0) translateX(0) rotate(0);
         }
        100% {
          transform: translateY(0) translateX(200px) rotate(180deg);
         }
}

.seven {
  display: flex;
  justify-content: space-around;

  align-items:center;
  background-color: pink;
  position: relative;

}

#textseven {
  width: 300px;
  height: 200px;
  font-size: 24px;

  left: 100px;
}
#vase {
  height: 300px;
  width: 200px;
  transform: rotate(-120deg);
position: absolute;
top: 20px;
right: 100px;
}

.eight {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items:flex-start;
  background-color: rgb(181, 169, 141);
}

.texteight {
  width: 300px;
  height: 200px;
  font-size: 24px;
}

#bags_attic {
  height: 600px;
  width: 800px;
  align-self: flex-end;
}


.nine {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgb(217, 227, 219);
}

.textnine {
  width: 300px;
  height: 200px;
  font-size: 24;
}

#rathole {
  height: 350px;
  width: 500px;

}

.ten {

}

.textten{
  width: 300px;
  height: 200px;
}

.eleven {
  background-color:grey;
  display: flex;
  justify-content: center;
  align-items: center;
}


#skåpvas {
z-index: 1;
height: 350px;
width: 350px;
}
.dörrtrigger {
  height: 350px;
  width: 350px;
  transition: .2s ease;

}

#dörrvas {
z-index: 2;
position: absolute;
  transform-origin: left;
transition: .5s ease-in-out;
}

.dörrtrigger:hover ~ #dörrvas {
  transform: rotatey(180deg);
pointer-events: none;
}

.twelve {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#flippedvase {
  height: 300px;
  width: 400px;
}

#flower{
  height: 200px;
  width: 100px;
  transform: rotate(-120deg);
}
@keyframes float {
  0% {
    transform: translatex(50px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatex(50px);
  }
}

.nyckelhal {
  width: 150px;
  height: 200px;
  box-sizing: border-box;
  margin-left: 20px;
  animation: float 3s ease-in-out infinite;
}
